@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    /* Had box-sizing gadi nsherhha mazal mhm FKRONI hit DAROURIYA*/
    box-sizing: border-box;
}

.container{
    width: 1400px;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
    margin-top: 15px;
}

.nav-links{
    display: flex;
    align-items: center;
}

.nav-links a{
    font-size: 16px;
    color: #212121;
    text-decoration: none;
    margin: 0 15px;
}

.login-btn{
    background-color: #CAA892;
    color: #fff !important;
    padding: 5px 20px;
    border-radius: 15px 0 15px 0;
}

.slider{
    display: flex;
    align-items: center;
    position: relative;
}

.slider h1{
    font-size: 72px; 
    color: #212121;
    margin: 0;
    margin-bottom: 20px;
}

.slider .text{
    font-size: 18px;
    color: #212121;
    margin: 0;
    margin-bottom: 55px;
}

.slider a{
    background-color: #37806B;
    color: #fff;
    padding: 5px 20px;
    border-radius: 20px 0;
    margin: 0;
    text-decoration: none;
}

.slider img{
    border-radius: 140px 0;
}

.img-border{
    border: 2px solid #B0855B;
    border-radius: 140px 0;
    width: 717px;
    height: 626px;
    position: absolute;
    right: -32px;
    top:32px;
    z-index: -1;
}

.service{
    margin-bottom: 50px;
}
.service .parent{
    display: flex;
    grid-gap: 35px;
}
.service .parent .child{
    display: flex;
    height: 193px;
    box-shadow: 0 8px 20px #00000016;
    border-radius: 60px 0;
    padding: 30px;
    grid-gap: 22px;
}
.service .parent .bg{
    background-color: #CAA892;
    color: #fff;
}

.service .parent .child img{
    width: 40px;
}

.service h1{
    font-size: 30px;
    color: #212121;
    margin-bottom: 65px;
}
